@use "../presets/variables" as *;
@use "../mixins/mixins-media" as *;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15vh;
    @include md{
        margin-bottom: 20vh;
      }
      @include sm{
        margin-bottom: 18vh;
      }
}

img {
    transition: 0.5s;
    width: 80px;

      @include md{
        width: 70px;
      }
}

.logo {
    background: radial-gradient(#fc910483, #CEBEAE 70%);
}
.networks{
    align-items: center;
}
.networks-img{
    width: 100px;
    @include md{
        width: 100px;
      }
      @include sm{
        width: 120px;
      }
}

.networks-img:hover {
    transform: scale(1.15);
}
.networks__link{
    margin-right: -30px;
}
.twitter{
    @include md{
        margin-right: -30px;
      }
    @include sm{
        margin-right: -50px;
      }
}
.twttr{
    padding-bottom: 2px;
}